doctype html
html(lang="en")

head
title Bibliothèque

body

    h1 Liste des livres

    table
        each livre in liste_livres
            tr
                td
                    input(type="text" value=livre.isbn readonly)
                td
                    input(type="text" value=livre.titre readonly)
                td
                    textarea(readonly rows=livre.auteurs.length)
                        each auteur in livre.auteurs
                            | #{auteur.nom} #{auteur.prenom}
                            |
                td
                    input(type="text" value=livre.date_achat readonly)
                td
                    textarea(readonly rows=livre.catégories.length)
                        each categorie in livre.catégories
                            | #{categorie}
                            |