doctype html
html(lang="en")

head
    title Bibliothèque

    style
        include css/datepicker.css
        include css/normalize.css
        include css/style.css

    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script
        include ../datepicker.js

body
    h2 Nouveau livre
    form(action='/bibliotheque/new', method='POST')
        table
            tr
                td
                    input(type="text", name="isbn", placeholder="ISBN")
                td
                    input(type="text", name="titre", placeholder="Titre")
                td
                    input(type="text", name="auteurs", placeholder="Noms auteurs (séparés par des virgules, nom et prénom séparés par des espaces)")
                td
                    input(type="text", name="date_achat", placeholder="Date d'achat", id="datepicker")
                td
                    input(type="text", name="catégories", placeholder="Catégories (séparées par des virgules)")
                td
                    input(type="submit", value="Ajouter")


    h1 Liste des livres

    table
        tr
            th ISBN
            th Titre
            th Nom auteur
            th Date d'achat
            th Catégories
            each livre in liste_livres
                tr
                    td
                        input(type="text" value=livre.isbn readonly)
                    td
                        input(type="text" value=livre.titre readonly)
                    td
                        textarea(readonly rows=livre.auteurs.length)
                            each auteur in livre.auteurs
                                | #{auteur}
                                |
                    td
                        input(type="text" value=moment(livre.date_achat).format('DD/MM/YYYY') readonly)
                    td
                        textarea(readonly rows=livre.catégories.length)
                            each categorie in livre.catégories
                                | #{categorie}
                                |
                    td
                        form(method='POST', action="/bibliotheque/delete/"+livre._id)
                            input(type="submit", value="Supprimer")
                    td
                        form(method='GET', action="/bibliotheque/"+livre._id)
                            input(type="submit", value="Afficher")