doctype html
html(lang="en")

head
    title Livre

    style
        include css/datepicker.css
        include css/normalize.css

    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script
        include ../datepicker.js

body
    h1 Détails du livre
    table
        tr
            th ISBN
            th Titre
            th Nom auteur
            th Date d'achat
            th Catégories
                tr
                    td
                        input(type="text" value=liste_livres[0].isbn readonly)
                    td
                        input(type="text" value=liste_livres[0].titre readonly)
                    td
                        textarea(readonly rows=liste_livres[0].auteurs.length)
                            each auteur in liste_livres[0].auteurs
                                | #{auteur}
                                |
                    td
                        // TODO : format date
                        input(type="text" value=liste_livres[0].date_achat readonly)
                    td
                        textarea(readonly rows=liste_livres[0].catégories.length)
                            each categorie in liste_livres[0].catégories
                                | #{categorie}
                // TODO : display only if livre.emprunt = false                |
                tr
                    td
                        form(method='POST', action="/bibliotheque/"+liste_livres[0]._id+"/edit")
                            input(type="submit", name="emprunter", value="Emprunter")
                // TODO : display only if livre.emprunt = true
                tr
                    td
                        form(method='POST', action="/bibliotheque/return/"+liste_livres[0]._id)
                            input(type="checkbox", name="retourner", value="Retourner")
                            |  Rendre ce livre
                            input(type="submit" value="Valider")